# Data Science Tools and Ecosystem

## Author
Saaketh Reddy Vaddi

In this notebook, Data Science Tools and Ecosystem are summarized

**Objectives:**
- List Popular Languages Used by Data Scientists
- Commonly Used Libraries by Data Scientists
- Arithmetic Expressions

Some of the popular languages that Data Scientists use are:
1. python
2. R
3. Scala

Some of the commonly used libraries used by Data Scientists include:
1. TensorFlow
2. Pandas
3. Matplotlib

|Data Science Tools|
|------------------|
|Jupyter Notebooks |
|RStudio           |
|Visual Studio Code |

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [8]:
# This will convert 200 minutes to hours by diving by 60
minutes=float(200)
hours=minutes/60
print(hours)

3.3333333333333335